.bg-canvas {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
	background-color: #fff;
}

.navbar-top {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.title a {
	font-size: 2.5rem;
	line-height: 2rem;
	margin-top: -8px;
}

.navbar-main {
	padding: 0;
}

.content-wrapper {
	background: white;
}

.btn-discreet {
	box-shadow: none;
	border: 1px dashed #bbb;
	color: #999;
	font-size: .9rem !important;
}


.category-menu-top ul {
	list-style: none;
	padding: 0;
}

.card-product .card-footer {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 40px);
}

.moda-top-menu {
	vertical-align: middle;
	font-size: 1.6rem;
	margin-top: 17px;

	div {
		padding: 0 50px;

		a {
			color: black;
		}
	}
}

.header-border-bottom {
	border-bottom: 1px solid #e8a87c;
}

.header-border-top {
	border-top: 1px solid #e8a87c;
}

#dropzone {
	margin-bottom: 3rem;
}

.dropzone {
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;

	.dz-message {
		font-weight: 400;
	}
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 1.3rem !important;
}

.select-wrapper input.select-dropdown {
	font-size: 1.3rem !important;
}

.nav-tabs {
	border-bottom-color: #e8a87c;
}

.nav-tabs .nav-link {
	border-bottom-color: #e8a87c;
}

.nav-tabs .nav-link.active {
	border-color: #e8a87c;
	border-bottom-color: #efefef;
}

.breadcrumb i {
	color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: none;
}

.breadcrumb .final {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1px;
}

.anchor-like {
	cursor: pointer;
}

.anchor-like:hover {
	text-decoration: underline;
}

.gallery {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%;
}

.gallery .pics {
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;
}

.gallery .animation {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

@media (max-width: 450px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}

@media (max-width: 400px) {
	.btn.filter {
		padding-left: 1.1rem;
		padding-right: 1.1rem;
	}
}

.photo-upload-inner-wrapper button.close-circle {
	position: absolute;
	right: -17px;
	top: -17px;
}

.cart-items-list button.close-circle {
	font-size: 1rem;
	position: absolute;
	top: -8px;
	right: 0;
}

button.close-circle {
	background: red;
	width: 30px;
	opacity: .9;
	height: 30px;
	border-radius: 50%;
	padding: 0;
	font-weight: bold;
}

button.close-circle:hover {
	opacity: 1;
}

.spinner-grow-sm {
	width: 1.5rem;
	height: 1.5rem;
}

.left-cat-nav {
	background: white;
	width: 70px;
	padding-left: 25px;
	left: 0;
	bottom: 0;
	padding-top: 5px;
	z-index: -1;
	top: 0;
	height: 110%;
	margin-left: -15px;
	margin-bottom: 0;
	margin-top: -1rem;
	position: absolute;
}

.cd-cart-container {
	img {
		max-width: 100%;
	}

	li {
		list-style: none;
	}

	* {
		padding: 0;
		font-size: 62.5%
	}
}

.icon-hover {
	opacity: .7;
}

.icon-hover:hover {
	opacity: 1;
}

.hidden {
	display: none;
}

.card-light {
	padding: 1.5rem 3rem;
	border: 1px solid #e0e0e0;
	background: white;
}

.card-light-warning {
	padding: 1.5rem 3rem;
	border: 1px solid #e0e0e0;
	background: #f59f2785;
}

.card-darker {
	background: white;
	border: 1px solid #dee2e6;
}

.light-grey {
	background: rgba(0, 0, 0, 0.03);
}

.category-link:hover {
	padding-left: 10px;
}

.fa-shopping-cart:hover {
	color: $default-color !important;
}