<template>
	<div class="row py-3" style="border-bottom: 1px dashed #ccc">
		<div class="col-2"><img class="w-100 h-auto" :src="item.imgSrc" :alt="item.title"></div>
		<div class="col-5 pt-2 h5 d-flex align-items-center"><a :href="item.slug" class="text-primary">{{ item.title }}</a></div>
		<div class="col-1 pt-2 d-flex align-items-center" style="text-align: right">
<!--			{{ item.count }}x-->
		</div>
		<div class="col-3 pt-2 d-flex align-items-center" style="text-align: right">{{ item.price * item.count }} €</div>
		<div class="col-1 d-flex align-items-center">
			<button v-if="!checked" class="btn btn-danger close-circle" v-on:click="$emit('remove-item', pcg, item)">X</button>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['item', 'pcg', 'checked'],
		name: "CartItem"
	}
</script>

<style scoped>

</style>
