<template>
	<div>
		<input v-model="city" v-on:keyup="search" v-on:keyup.down="navigateDown" v-on:keyup.up="navigateUp"
		       v-on:keydown.enter.prevent="selectCity(currentItem)" v-on:click="search" placeholder="Obec" name="city" v-validate="'required|max:128'"
		       type="text"/>
		<span class="text-danger">{{ errors.first('city') }}</span>
		<div class="position-absolute" style="z-index: 1" v-if="!chosen">
			<ul class="list-group">
				<li v-for="cityElement in activeCities"
				    :class="{'bg-warning': currentItem && currentItem.id === cityElement.id}" class="list-group-item"
				    style="cursor: pointer" v-on:click="selectCity(cityElement)">
					{{ cityElement.name }}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				cities: [],
				activeCities: [],
				currentItem: undefined,
				city: '',
				chosen: false
			};
		},
		methods: {
			read() {
				window.axios
					.get('/city/list')
					.then(response => {
						this.cities = response.data;
					});
			},
			search(event) {
				if ( event.key === 'ArrowUp' || event.key === 'ArrowDown' || event.key === 'Enter' ) {
					return;
				}
				this.chosen = false;
				this.currentItem = undefined;
				if (this.city === '') {
					this.activeCities = this.cities;
					return;
				}
				this.activeCities = this.cities.filter(element => {
					if (element.name) {
						return this.sanitizeString(element.name.toLowerCase()).includes(this.sanitizeString(this.city.trim().toLowerCase()));
					}
				});

				if (this.activeCities.length === 1) {
					this.selectCity(this.activeCities[0]);
				}
			},
			navigateDown() {
				if (!this.currentItem) {
					this.currentItem = this.activeCities[0];
					return;
				}

				this.currentItem = this.activeCities[this.activeCities.indexOf(this.currentItem) + 1];
			},
			navigateUp() {
				if (this.activeCities.indexOf(this.currentItem) > 0) {
					this.currentItem = this.activeCities[this.activeCities.indexOf(this.currentItem) - 1];
				}

			},
			selectCity(city) {
				this.$emit('city-chosen', city.id);
				this.chosen = true;
				this.city = city.name
			},
			sanitizeString: function (title) {
				// Change to lower case
				let titleLower = title.toLowerCase();
				// Letter "e"
				let string = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e');
				// Letter "a"
				string = string.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a');
				// Letter "o"
				string = string.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o');
				// Letter "u"
				string = string.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u');
				// Letter "d"
				string = string.replace(/đ/gi, 'd');

				return string;
			}
		},
		created() {
			this.read();
		},
		name: "CitySearch"
	}
</script>

<style scoped>

</style>
