<template>
	<div>
		<div class="row mb-5">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="row py-2">
					<div class="col">
						<h1 class="header-border-bottom">Pridanie produktu do inzercie</h1>
					</div>
				</div>
				<form @submit="checkForm">
					<div class="row py-1">
						<div class="col-6 md-form">
							<input type="text" v-validate="'required|max:64'" class="form-control"
							       placeholder="Vaše meno" name="name" v-model="user.name"
							       required>
							<span class="text-danger">{{ errors.first('name') }}</span>
						</div>
						<div class="col-6 md-form">
							<input v-validate="'required|email|max:64'" name="email" type="email" class="form-control"
							       placeholder="Váš email"
							       id="email" v-model="user.email" required/>
							<p class="text-left text-warning">Váš email nikde a nikomu nezobrazujeme.
								Všetky
								objednávky, otázky zákazníkov a informácie vám posiela priamo náš
								systém.</p>
							<span class="text-danger">{{ errors.first('email') }}</span>
						</div>
					</div>
					<div class="row pt-2">
						<div class="col-2">
							<p class="h4-responsive">Vyberte kategóriu</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<ul class="nav nav-tabs" id="marketsTab" role="tablist">
								<li v-for="(market, index) in markets" class="nav-item">
									<a class="nav-link" :class="{ active: index === 0 }"
									   :id="'main' + market.id + '-tab'"
									   data-toggle="tab"
									   v-on:click="activeMarket = market">
										{{ market.name }}
									</a>
								</li>
							</ul>
							<div class="categories-wrapper py-3">
								<item-form-categories
										v-if="activeMarket"
										:market="activeMarket"
										:item="item"
										v-on:category-chosen="categoryChosen"
								></item-form-categories>
							</div>
							<div class="invalid-feedback invalid-feedback-category">
								vyberte kategóriu produktu
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="w-100 header-border-top py-2"></div>
							<div class="form-check form-check-inline pr-3">
								<input class="form-check-input" type="radio" v-model="item.type" id="typeSell"
								       :value="itemTypeSell" :required="!item.type">
								<label class="form-check-label" for="typeSell" style="font-size: 1.1rem">Predám</label>
							</div>
							<div class="form-check form-check-inline px-3">
								<input class="form-check-input" type="radio" v-model="item.type" id="typeBuy"
								       :value="itemTypeBuy" :required="!item.type">
								<label class="form-check-label" for="typeBuy" style="font-size: 1.1rem">Kúpim</label>
							</div>
							<div class="form-check form-check-inline pl-3">
								<input class="form-check-input" type="radio" v-model="item.type" id="typeGive"
								       :value="itemTypeGive" :required="!item.type"/>
								<label class="form-check-label" for="typeGive" style="font-size: 1.1rem">Darujem</label>
							</div>
						</div>
					</div>
					<div class="row p-0 mb-0">
						<div class="col-6 py-2 md-form">
							<input type="text" placeholder="Názov produktu" v-validate="'required|max:64'" name="title"
							       v-model="item.title" class="form-control"
							       required>
							<span class="text-danger">{{ errors.first('title') }}</span>
						</div>
					</div>
					<div class="row p-0 my-0">
						<div class="col">
                        <textarea class="form-control" rows="5" v-model="item.description" v-validate="'required'"
                                  name="description" placeholder="Popis produktu"
                                  required></textarea>
							<span class="text-danger">{{ errors.first('description') }}</span>
							<p class="text-warning">Za kontaktné údaje zdieľané v popise inzerátu portál flea nenesie
								zodpovednosť.</p>
						</div>
					</div>
					<div class="row p-0 mt-0" v-if="item.type === itemTypeSell">
						<div class="col-2 md-form">
							<input class="form-control d-inline w-75" placeholder="Cena"
							       v-validate="'min_value:0.00|max_value:9999999.99|required'" name="price"
							       v-model="item.price"
							       type="number" step="0.01" min="0.00" max="9999999.99"
							       required>
							<p class="d-inline"> EUR</p>
							<span class="text-danger">{{ errors.first('price') }}</span>
						</div>
					</div>
					<div class="row p-0 mt-0" v-if="item.type === 'buy'">
						<div class="col-2 md-form">
							<input class="form-control d-inline w-75" placeholder="Cena od"
							       v-validate="'min_value:0.00|max_value:9999999.99'" name="price_from"
							       v-model="item.price_from"
							       type="number" step="0.01" min="0.00" max="9999999.99">
							<p class="d-inline"> EUR</p>
							<span class="text-danger">{{ errors.first('price_from') }}</span>
							<input class="form-control d-inline w-75" placeholder="Cena do"
							       v-validate="'min_value:0.00|max_value:9999999.99'" name="price_to"
							       v-model="item.price_to"
							       type="number" step="0.01" min="0.00" max="9999999.99">
							<p class="d-inline"> EUR</p>
							<span class="text-danger">{{ errors.first('price_to') }}</span>
						</div>
					</div>
					<div class="row mt-4">
						<div class="col">
							<h4>Fotky produktu</h4>
							<multiple-form-upload v-on:uploaded="getUploads"></multiple-form-upload>
						</div>
					</div>
					<div class="row mt-4">
						<div class="col">
							<h4>Vyberte si spôsoby doručenia</h4>
						</div>
					</div>
					<div class="row my-2" v-if="item.type !== itemTypeBuy">
						<div class="col-lg-6">
							<div class="card h-100" style="transition: 1s;">
								<div class="form-check py-2">
									<input class="text-left form-check-input" v-model="item.shipping_mail"
									       type="checkbox" id="post"
									       :required="!item.shipping_mail && !item.shipping_in_person"/>
									<label class="form-check-label" for="post">Poštou</label>
								</div>
								<div class="px-4" style="transition: 1s;" v-if="item.shipping_mail">
									<div class="row">
										<div class="col-lg-4 md-form pr-5 mr-5" v-if="!item.shipping_price_included">
											<input type="number" placeholder="Poštovné" id="shipping-price"
											       class="form-control d-inline w-75" required
											       v-validate="'min_value:0.00|max_value:99.99|required'"
											       name="shipping_price"
											       v-model="item.shipping_price" step="0.01" min="0.00" max="99.99"/>
											<p class="d-inline"> EUR</p>
											<span class="text-danger">{{ errors.first('shipping_price') }}</span>
										</div>
										<div class="col-lg-6 md-form">
											<input class="text-left form-check-input"
											       v-model="item.shipping_price_included" type="checkbox"
											       id="shippingIncluded"/>
											<label class="form-check-label" for="shippingIncluded">Poštovné je zarátané
												v cene</label>
										</div>
									</div>
									<div class="row">
										<div class="col"><h5>Spôsob platby</h5></div>
									</div>
									<div class="row">
										<div class="form-check py-2">
											<input class="text-left form-check-input" v-model="item.payment_on_arrival"
											       type="checkbox"
											       id="on_arrival" required name="payment_on_arrival"
											       v-validate="'required'"/>
											<label class="form-check-label" for="on_arrival">Na dobierku</label>
											<p><span class="text-danger">{{ errors.first('payment_on_arrival') }}</span>
											</p>
										</div>
									</div>
									<!--									<div class="row">-->
									<!--										<div class="form-check py-2">-->
									<!--											<input class="text-left form-check-input" v-model="item.payment_transfer"-->
									<!--											       type="checkbox"-->
									<!--											       id="transfer"/>-->
									<!--											<label class="form-check-label" for="transfer">Prevodom na účet</label>-->
									<!--										</div>-->
									<!--									</div>-->
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="card h-100" style="transition: 1s;">
								<div class="form-check py-2">
									<input class="text-left form-check-input" v-model="item.shipping_in_person"
									       type="checkbox"
									       id="inPerson"/>
									<label class="form-check-label" for="inPerson">Osobný odber</label>
									<div class="invalid-feedback">
										Vyberte aspoň jeden spôsob doručenia.
									</div>
								</div>
								<div v-if="item.shipping_in_person" class="px-4" style="transition: 1s;">
									<div class="row">
										<div class="col-lg-7 md-form">
											<city-search v-on:city-chosen="cityChosen"></city-search>
											<div class="invalid-feedback">
												Pri tomto spôsobe doručenia je potrebné upresniť vaše mesto.
											</div>
										</div>
									</div>
									<div class="row mb-5">
										<div class="col-lg-7 md-form">
											<input type="text" placeholder="Mobil" v-model="user.phone"
											       class="w-100 form-control"/>
											<p class="text-warning">V prípade, že nechcete byť kontaktovaný cez
												telefón, nechajte pole prázdne. Zákazníci Vás budú kontaktovať cez
												kontaktný formulár zasielaný na Váš email.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-5 border-top mt-5">
						<div class="col-lg-3 pt-2">
							<input class="form-control" v-model="item.password" v-validate="'min:6|max:64'"
							       name="password"
							       placeholder="Heslo pre administráciu inzerátu"
							       type="text"/>
							<span class="text-danger">{{ errors.first('password') }}</span>
						</div>
						<div class="col-lg-4">
							<p class="text-warning">Administrácia inzerátu je možná aj po overení prostredníctvom
								emailu, v prípade, že heslo zadávať nechcete.</p>
						</div>
					</div>
					<div class="row pb-5 pt-3">
						<div class="col-lg-3 ">
							<label class="form-check-label">Naplánovať inzerát</label>
							<datepicker v-model="item.plan" :placeholder="'Vyberte dátum publikovania'"
							            :input-class="'form-control w-100'"
							            :language="sk" :monday-first="true"></datepicker>
						</div>
						<div class="col-lg-4 pt-4">
							<p class="text-warning">Ak nechcete inzerát publikovať ihneď, je možné si ho naplánovať na
								konkrétny dátum.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 form-check pl-3">
							<input type="checkbox" class="form-check-input ml-0" id="termsandconditions" v-model="terms"
							       name="terms" v-validate="'required'"
							       required>
							<label class="form-check-label" for="termsandconditions">súhlasím s podmienkami portálu
								Flea</label>
							<p><span class="text-danger">{{ errors.first('terms') }}</span></p>
							<div class="invalid-feedback">
								Pre inzerovanie na portáli Flea je potrebné súhlasiť s jeho podmienkami.
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="submit" v-if="!sendingData" v-on:click="checkForm"
							        class="btn btn-default btn-lg btn-save ml-0"
							        style="font-size: 1.3rem">Uložiť inzerát
							</button>
							<button v-if="sendingData" class="btn btn-primary btn-large btn-loading ml-0"
							        style="font-size: 1.3rem" type="button" disabled>
								<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
								Ukladám inzerát...
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-2"></div>
		</div>
		<item-created-modal v-if="item.id" v-bind:item="item"></item-created-modal>
		<errors-modal v-if="postErrors.length > 0" v-on:modal-close="postErrors = []"
		              v-bind:postErrors="postErrors"></errors-modal>

	</div>
</template>

<script>

	import ItemFormCategories from './ItemFormCategories';
	import MultipleFormUpload from './MultipleFormUpload';
	import CitySearch from './CitySearch';
	import Datepicker from 'vuejs-datepicker';
	import {sk} from 'vuejs-datepicker/dist/locale';
	import ErrorsModal from './ErrorsModal';
	import ItemCreatedModal from './ItemCreatedModal';
	import validateSk from 'vee-validate/dist/locale/sk';

	const ITEM_TYPE_SELL = 'sell';
	const ITEM_TYPE_BUY = 'buy';
	const ITEM_TYPE_GIVE = 'give';

	function Market({id, name, categories}) {
		this.id = id;
		this.name = name;
		this.categories = categories;
	}

	function User({name, email}) {
		this.name = name;
		this.email = email;
	}

	function Item({
		              id, title, description, price, price_from, price_to, type, category_id, slug, shipping_mail, city_id,
		              shipping_in_person, payment_on_arrival, payment_transfer, shipping_price, shipping_price_included, password, plan
	              }) {
		this.id = id;
		this.type = type;
		this.category_id = category_id;
		this.title = title;
		this.description = description;
		this.price = price;
		this.price_from = price_from;
		this.price_to = price_to;
		this.slug = slug;
		this.shipping_mail = shipping_mail;
		this.shipping_in_person = shipping_in_person;
		this.payment_on_arrival = payment_on_arrival;
		this.payment_transfer = payment_transfer;
		this.shipping_price = shipping_price;
		this.shipping_price_included = shipping_price_included;
		this.password = password;
		this.plan = plan;
		this.city_id = city_id;
	}

	export default {
		data() {
			return {
				markets: [],
				activeMarket: undefined,
				itemTypeSell: ITEM_TYPE_SELL,
				itemTypeBuy: ITEM_TYPE_BUY,
				itemTypeGive: ITEM_TYPE_GIVE,
				user: new User({name: '', email: ''}),
				item: new Item({
					type: ITEM_TYPE_SELL,
					shipping_mail: true,
					payment_transfer: true,
					payment_on_arrival: true
				}),
				terms: false,
				sk: sk,
				uploads: [],
				sendingData: false,
				postErrors: []
			}
		},
		methods: {
			read() {
				window.axios
					.get('/market/list')
					.then(response => {
						response.data.forEach(
							market => {
								this.markets.push(new Market(market));
							}
						);
						this.activeMarket = this.markets[0];
					});
			},
			checkForm: function (e) {
				e.preventDefault();

				this.$validator.validateAll().then((result) => {
					if (result) {
						return;
					}

					this.postErrors.push('Nie su správne vyplnené všetky položky');
				});

				if (!this.item.category_id) {
					this.postErrors.push('Zadajte prosím kategóriu produktu.');
				}
				if (!this.item.shipping_in_person && !this.item.shipping_mail) {
					this.postErrors.push('Zadajte prosím aspoň jeden spôsob doručenia.');
				}
				if (!this.item.payment_on_arrival && !this.item.payment_transfer) {
					this.postErrors.push('Zadajte prosím aspoň jeden spôsob platby pre doručenie poštou.');
				}
				if (!this.terms) {
					this.postErrors.push('Pre uloženie inzerátu je potrebné potvrdiť, že súhlasíte s pravidlamu portálu flea.sk');
				}

				if (this.postErrors.length > 0) {
					return;
				}

				this.sendingData = true;
				let formData = new FormData();
				formData.append('user', JSON.stringify(this.user));
				formData.append('item', JSON.stringify(this.item));
				formData.append('terms', this.terms);
				formData.append('uploads', JSON.stringify(this.uploads));
				window.axios
					.post('/item/create', formData)
					.then(response => {
						this.sendingData = false;
						if (response.data.errors) {
							this.postErrors = response.data.errors;
						}
						if (response.data.id) {
							this.item = new Item(response.data);
						}
					});
			},
			getUploads: function (uploads) {
				this.uploads = uploads;
			},
			categoryChosen: function (category) {
				this.item.category_id = category.id;
			},
			cityChosen: function (city_id) {
				this.item.city_id = city_id
			},
		},
		watch: {
			payment_on_arrival: function () {
				this.item.payment_on_arrival = this.payment_transfer;
			}
		},
		created() {
			this.read();
			this.$validator.localize('sk', {
				messages: validateSk.messages,
				attributes: {
					name: 'meno',
					title: 'názov produktu',
					description: 'popis produktu',
					price: 'cena',
					price_from: 'cena od',
					price_to: 'cena_do',
					shipping_price: 'poštovné',
					phone: 'telefónne číslo',
					city: 'mesto',
					password: 'heslo',
					plan: 'dátum zverejnenia',
					terms: 'potvrdenie podmienok'
				}
			})
		},
		name: "CreateItem",
		components: {
			ItemFormCategories,
			MultipleFormUpload,
			CitySearch,
			Datepicker,
			ErrorsModal,
			ItemCreatedModal
		}
	}
</script>

<style scoped>

</style>
