<template>
	<div>
		<div class="modal fade show" id="newItemErrorModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-notify modal-danger modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="heading lead">Chyba</h4>
						<button type="button" class="close" @click="$emit('modal-close')">
							<span class="white-text">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<h5>Inzerát sa nepodarilo uložiť z nasledujúcich dôvodov:</h5>
							<div class="alert alert-danger">
								<ul class="list-group" id="errors">
									<li class="list-group-item my-1" v-for="error in postErrors">{{ error}}</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-center">
						<a type="button" class="btn btn-outline-danger waves-effect" @click="$emit('modal-close')">Zavrieť</a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-backdrop fade show"></div>
	</div>
</template>

<script>
	export default {
		props: ['postErrors'],
		name: "ErrorsModal"
	}
</script>

<style scoped>
	.modal {
		display: block;
	}
	.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1040;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		opacity: .5;
	}
</style>
