<template>
	<div>
		<nav v-if="breadcrumbs.length > 0" aria-label="breadcrumb">
			<ol class="breadcrumb danger-color white-text">
				<li v-for="breadcrumb in breadcrumbs" class="breadcrumb-item">
					<span v-if="breadcrumb.passive" class="white-text anchor-like"
					      v-on:click="chooseCategory( breadcrumb )" >
						{{ breadcrumb.name }}
						<i class="fas fa-angle-double-right mx-2" aria-hidden="true"></i>
					</span>
					<span v-else-if="!breadcrumb.market_id" class="white-text anchor-like"
					      v-on:click="chooseMarket( breadcrumb )" >
						{{ breadcrumb.name }}
						<i class="fas fa-angle-double-right mx-2" aria-hidden="true"></i>
					</span>
					<h5 v-else class="white-text final" style="text-transform: uppercase; font-weight: bold">{{ breadcrumb.name }}</h5>
				</li>
			</ol>
		</nav>
		<button v-for="category in activeCategories" type="button" class="btn flex-fill d-inline-block btn-primary" style=" border: 1px solid #a4a4a4;"
		        v-on:click="chooseCategory( category )">
			<i class="icon-category" :class="'icon-category-' + category.id "></i>
			{{ category.name }}
		</button>
		<input type="hidden" v-model="item.category_id" required/>
	</div>
</template>

<script>
	export default {
		props: [ 'market', 'item' ],
		data () {
			return {
				breadcrumbs: [],
				category: null,
				chosenCategory: undefined,
				activeMarket: this.market
			}
		},
		methods: {
			getBreadcrumbs () {
				window.axios
					.get('/breadcrumbs/categories/' + this.chosenCategory.id)
					.then(response => {
							this.breadcrumbs = response.data;
						}
					)
			},
			chooseCategory ( category ) {
				if (!category.passive) {
					this.category = category.id
				}

				this.chosenCategory = category;
				if ( !category.passive ) {
					this.$emit('category-chosen', category);
				}
				this.getBreadcrumbs();
			},
			chooseMarket (market) {
				this.activeMarket = market;
				this.chosenCategory = undefined;
				this.breadcrumbs = [];
			}
		},
		computed: {
			activeCategories () {
				if (this.chosenCategory) {
					return this.chosenCategory.sub_categories;
				}

				return this.activeMarket.categories;
			}
		},
		name: "FormFileCategories"
	}
</script>

<style scoped>

</style>
