<template>
	<div>
		<div class="modal fade show" id="itemAddedModal" tabindex="-1">
			<div class="modal-dialog modal-notify modal-primary modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="heading lead" style="font-size: 1.5em">Váš inzerát bol uložený</p>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<i class="fas fa-check fa-4x mb-3 animated text-primary rotateIn"></i>
							<p>

							</p>
						</div>
					</div>
					<div class="modal-footer justify-content-center">
						<a type="button" class="btn btn-primary waves-effect btn-lg" style="font-size: 1.2rem">
							Promovať inzerát
							<i class="far fa-gem ml-1 white-text"></i>
						</a>
						<a type="button" class="btn btn-outline-primary waves-effect" href="/novy-inzerat">Pridať další
							inzerát</a>
						<a type="button" class="btn btn-outline-primary waves-effect" :href="'/' + item.slug">Prejsť na
							stránku inzerátu</a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-backdrop fade show"></div>
	</div>
</template>

<script>
	export default {
		props: ['item'],
		name: "ItemCreatedModal"
	}
</script>

<style scoped>
	.modal {
		display: block;
	}
	.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1040;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		opacity: .5;
	}
</style>
