<template>
	<div class="photo-upload-inner-wrapper">
		<!--SUCCESS-->
		<div v-if="isSuccess">
			<p>
				<a href="javascript:void(0)" @click="reset()">Nahrať znova</a>
			</p>
		</div>
		<div class="list-inline">
			<div v-for="item in uploadedFiles" class="list-inline-item position-relative mr-3">
				<img style="height: 200px;" :src="item.path"
					 class="rounded float-left img-thumbnail"
					 :alt="item.filename">
				<button type="button" class="btn close-circle btn-danger" aria-label="Close" @click="removePicture(item)">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="list-inline-item" style="vertical-align: bottom">
				<form enctype="multipart/form-data" novalidate
					  v-if="isInitial || isSaving || isSuccess">
					<div class="dropbox">
						<input type="file" multiple :name="uploadFieldName" :disabled="isSaving"
							   @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
							   accept="image/*" class="input-file">
						<span v-if="isInitial || isSuccess">
                            Presuňte súbory<br>na túto plochu<br>...<br>alebo kliknite<br>pre výber z počítača.
                        </span>
						<span v-if="isSaving">
                            Nahrávanie {{ fileCount }} súborov...
                        </span>
					</div>
				</form>
			</div>
		</div>
		<!--FAILED-->
		<div v-if="isFailed">
			<p class="text-danger">Nahrávanie sa nepodarilo. Nahrávaná fotka môže mať maximálne 10MB a všetky spoločne maximálne 50MB.</p>
			<p>
				<a href="javascript:void(0)" @click="reset()">Skúsiť znova.</a>
			</p>
		</div>
	</div>
</template>

<script>
	import {upload} from '../services/file-upload.service';
	import * as axios from 'axios';

	const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

	export default {
		name: 'multiple-form-upload',
		data() {
			return {
				uploadedFiles: [],
				uploadFieldName: 'pictures[]',
				uploadError: null,
				currentStatus: null,
			};
		},
		computed: {
			isInitial() {
				return this.currentStatus === STATUS_INITIAL;
			},
			isSaving() {
				return this.currentStatus === STATUS_SAVING;
			},
			isSuccess() {
				return this.currentStatus === STATUS_SUCCESS;
			},
			isFailed() {
				return this.currentStatus === STATUS_FAILED;
			}
		},
		methods: {
			filesChange(fieldName, fileList) {
				// handle file changes
				const formData = new FormData();

				if (!fileList.length) return;

				// append the files to FormData
				Array
					.from(Array(fileList.length).keys())
					.map(x => {
						formData.append(fieldName, fileList[x], fileList[x].name);
					});
				console.log(formData);
				// save it
				this.save(formData);
			},
			save(formData) {
				// upload data to the server
				this.currentStatus = STATUS_SAVING;

				let uploaded = upload(formData)
					.then(x => {
						this.uploadedFiles = this.uploadedFiles.concat(x);
						this.currentStatus = STATUS_SUCCESS;
						this.$emit('uploaded', this.uploadedFiles);
					})
					.catch(err => {
						this.uploadError = err.response;
						this.currentStatus = STATUS_FAILED;
					});
			},
			reset() {
				axios.get('docs/photos/delete/all'); // remove uploaded pictures
				// reset form to initial state
				this.currentStatus = STATUS_INITIAL;
				this.uploadedFiles = [];
				this.uploadError = null;
				this.$emit('uploaded', this.uploadedFiles);
			},
			removePicture(item) {
				this.uploadedFiles.splice(this.uploadedFiles.indexOf(item), 1);
				axios.get('docs/photos/delete/' + item.filename);
				this.$emit('uploaded', this.uploadedFiles);

			}
		},
		mounted() {
			this.currentStatus = STATUS_INITIAL;
			this.uploadedFiles = [];
			this.uploadError = null;
			this.$emit('uploaded', this.uploadedFiles);
		}
	}
</script>

<style scoped>

	.dropbox {
		outline: 2px dashed #e27d5f; /* the dash box */
		outline-offset: -10px;
		background: #8cbcce;
		color: #ffffff;
		padding: 10px 10px;
		min-height: 200px; /* minimum height */
		position: relative;
		cursor: pointer;
		width: 250px;
		height: 215px;
		text-align: center;
	}

	.input-file {
		opacity: 0; /* invisible but it's there! */
		width: 100%;
		height: 200px;
		position: absolute;
		cursor: pointer;
		left: 0;
		top: 0;
	}

	.dropbox:hover {
		background: lightblue; /* when mouse over to the drop zone, change color */
	}

	.dropbox p {
		font-size: 1.2em;
		text-align: center;
		padding: 10px 0;
	}

	.dropbox span {
		margin-top: 10px;
		display: block;
		font-size: 1.45rem;
	}
</style>
