<template>
	<div>
		<div class="modal fade show" id="itemAddedModal" tabindex="-1">
			<div class="modal-dialog modal-notify modal-primary modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="heading lead" style="font-size: 1.5em">Vaša objednávka bola odoslaná predajcom na
							schválenie</p>
					</div>
					<div class="modal-body">
						<div class="">
							<div v-for="pcg in orderPackages" class="row">
								<div class="col">
									<h4>{{ pcg.name }}</h4>
									<div v-for="item in pcg.items" class="row">
										<div class="col-2"><img src="" alt></div>
										<div class="col-5 pt-2 h5"><a :href="item.slug">{{ item.title }}</a></div>
										<div class="col-1 pt-2" style="text-align: right">{{ item.count }}x</div>
										<div class="col-3 pt-2" style="text-align: right">{{ item.price * item.count }} €</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-center">
						<a type="button" class="btn btn-outline-primary waves-effect" href="/">Pokračovať v nákupe</a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-backdrop fade show"></div>
	</div>
</template>

<script>
	export default {
		props: ['orderPackages'],
		name: "OrderCreatedModal"
	}
</script>

<style scoped>
	.modal {
		display: block;
	}

	.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1040;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		opacity: .5;
	}
</style>
