<template>
	<div class="row">
		<div class="col-1"></div>
		<div :class="checked ? 'col-5' : 'col-10'">
			<div v-for="pcg in packages" class="border border-light bg-white mb-5 row">
				<div class="col">
					<div class="card-header row p-2">
						<div class="col-8 h5 pt-2">
							Predávajúci: {{ pcg.name }}
						</div>
						<div class="col-4 pt-2" v-if="packages.length > 1">
							<a href="" v-if="!checked" v-on:click.once="checkPackage(pcg.id, $event)" class="text-primary font-weight-bold mb-0" style="float: right;">
								Objednať osobitne >>
							</a>
						</div>
					</div>
					<!-- ITEMS -->
					<cart-item
						v-for="item in pcg.items"
						:item="item"
						:pcg="pcg"
						:key="item.id"
						:checked="checked"
						@remove-item="removeItem"
					>
					</cart-item>
					<div v-if="pcg.items.length > 1" class="row light-grey pt-2">
						<div class="col-5 offset-2 h4">Spolu: </div>
						<div class="col-3 h4">
<!--							{{ pcg.itemsCount }} ks-->
						</div>
						<div class="col-2 h4 p-0">{{ pcg.totalPrice }} €</div>
					</div>
					<!-- END ITEMS -->
					<shipping-and-payment
						v-if="checked"
						:pcg="pcg"
						:orderShippingMail="orderShippingMail"
						:starSource1="starSource1"
						:starLegend1="starLegend1"
					>
					</shipping-and-payment>
				</div>
			</div>
			<div v-if="!checked" class="row">
				<div class="col">
					<button class="btn btn-default btn-lg font-weight-bold" style="float:right" v-on:click.once="checkAll">Vytvoriť objednávku</button>
				</div>
			</div>
		</div>
		<submit-order-form
			v-if="checked"
			:isShippingMail="isShippingMail"
			:packages="packages"
			:starSource1="starSource1"
			:starLegend1="starLegend1"
			:orderShippingMail="orderShippingMail"
			@submit="formSubmitted"
		>
		</submit-order-form>
		<div class="col-1"></div>
		<order-created-modal
			v-if="orderPackages.length"
			:orderPackages="orderPackages"
			></order-created-modal>
	</div>
</template>

<script>

	import CartItem from './CartItem';
	import SubmitOrderForm from './SubmitOrderForm';
	import ShippingAndPayment from './ShippingAndPayment';
	import OrderCreatedModal from './OrderCreatedModal';

	const ORDER_SHIPPING_MAIL = 'mail';
	const ORDER_STATUS_CHECKED = 'checked';
	const ORDER_STATUS_IDLE = 'idle';

	function OrderPackage({id, name, status, shipping, payment}) {
		this.id = id;
		this.name = name;
		this.status = status;
		this.shipping = shipping;
		this.payment = payment;
		this.items = [];
		this.onlyInPersonItems = [];
		this.onlyMailItems = [];
		this.mixItems = [];
		this.shippingPrice = 0.00;
		this.itemsCount = 0;
		this.totalPrice = 0.00;
	}

	function Item({id, title, count, slug, price, shipping_in_person, shipping_mail, shipping_price, cart_item_id, imgSrc}) {
		this.id = id;
		this.title = title;
		this.count = count;
		this.price = price;
		this.slug = slug;
		this.shippingInPerson = shipping_in_person;
		this.shippingMail = shipping_mail;
		this.shippingPrice = shipping_price;
		this.cartItemId = cart_item_id;
		this.imgSrc = imgSrc
	}

	export default {
		props: ['checked'],
		data() {
			return {
				packages: [],
				orderShippingMail: ORDER_SHIPPING_MAIL,
				starSource1: '* od ',
				starLegend1: '*Pri viacerých predmetoch v balíku môže predávajúci cenu poštovného upraviť. V takom prípade vás o tom budeme informovať.',
				orderStatusChecked: ORDER_STATUS_CHECKED,
				orderStatusIdle: ORDER_STATUS_IDLE,
				orderPackages: []
			}
		},
		methods: {
			read() {
				let url = this.checked ? '/order/package/list/checked' : '/order/package/list';
				window.axios
					.get(url)
					.then(response => {
						this.packages.push(this.preparePackages(response.data))
					});
			},
			removeItem(pcg, item) {
				window.axios
					.post('/order/item/remove', {'cart_item_id': item.cartItemId})
					.then(response => {

						pcg.items.splice(pcg.items.indexOf(item), 1);
						this.totalPackagePrice(pcg);
						this.totalPackageItemsCount(pcg);

						if (pcg.items.length === 0) {
							this.packages.splice(this.packages.indexOf(pcg), 1);
							return;
						}

						if (!item.shippingMail) {
							pcg.onlyInPersonItems.splice(pcg.onlyInPersonItems.indexOf(item), 1);
							return;
						}

						if (item.shippingInPerson) {
							pcg.mixItems.splice(pcg.mixItems.indexOf(item), 1);
							return;
						}

						pcg.onlyMailItems.splice(pcg.onlyMailItems.indexOf(item), 1);
					});

			},
			checkPackage(pcgId, event) {
				event.preventDefault();
				let data = {'package_id': pcgId, 'update_data': '{"status": "' + this.orderStatusChecked + '"}', 'all_idle': true};
				window.axios.post('/order/package/update', data)
					.then(
						window.location.href = '/vytvorenie-objednavky'
					);
			},
			checkAll() {
				let data = {'packages': this.getAllPackageIds().join(', '), 'update_data': '{"status": "' + this.orderStatusChecked + '"}'};
				window.axios.post('order/packages/update', data)
					.then(
						window.location.href = '/vytvorenie-objednavky'
					);
			},
			getAllPackageIds() {
				let ids = [];
				for (let key in this.packages) {
					ids.push(this.packages[key].id);
				}

				return ids;
			},
			preparePackages(data) {
				this.packages = [];
				for (let key in data) {
					let packageData = data[key];
					let pcg = new OrderPackage(packageData);
					for (let key2 in packageData['items']) {
						let item = new Item(packageData['items'][key2]);
						if (item.shippingPrice > pcg.shippingPrice) {
							pcg.shippingPrice = item.shippingPrice;
						}
						pcg.totalPrice += item.count * item.price;
						pcg.itemsCount += parseInt(item.count);

						pcg.items.push(item);

						if (!item.shippingMail) {
							pcg.onlyInPersonItems.push(item);
							continue;
						}

						if (item.shippingInPerson) {
							pcg.mixItems.push(item);
							continue;
						}

						pcg.onlyMailItems.push(item);
					}
					this.packages.push(pcg);
				}
			},
			totalPackagePrice(pcg) {
				let price = 0;
				for (let key in pcg.items) {
					price += pcg.items[key].count * pcg.items[key].price;
				}

				pcg.totalPrice = price;
			},
			totalPackageItemsCount(pcg) {
				let count = 0;
				for (let key in pcg.items) {
					count += parseInt(pcg.items[key].count);
				}

				pcg.itemsCount = count;
			},
			formSubmitted: function (orderPackages) {
				this.orderPackages = Object.keys(orderPackages).map((key) => {
					return orderPackages[key]
				});
			}
		},
		created() {
			this.read();
		},
		computed: {
			isShippingMail: function () {
				for (let key in this.packages) {
					if (this.packages[key].shipping === this.orderShippingMail) {
						return true;
					}
				}

				return false;
			}
		},
		watch: {
			packages: function () {
				if ( this.packages.length === 0 ) {
					location.href = '/';
				}
			}
		},
		name: "Order",
		components: {
			CartItem,
			SubmitOrderForm,
			ShippingAndPayment,
			OrderCreatedModal
		}
	}
</script>

<style scoped>

</style>
