<template>
	<div class="row">
		<div v-if="pcg.onlyInPersonItems.length > 0" class="col py-2 light-grey">
			<p class="mb-0 text-center text-danger">V balíku od tohto predajcu sa nachádza predmet, ktorý je možné prevziať len osobne, voľba
				doručenia preto pre tento balík nie je možná.</p>
		</div>
		<div v-else class="border border-light col light-grey">
			<div class="px-3 py-2 bg-primary row border-bottom">
				<h6 class="white-text m-0">Vyberte si spôsob platby a doručenia</h6>
			</div>
			<div class="row">
				<div class="col-2 pt-3 h5">Poštou</div>
				<div class="col-5">
					<div class="row p-3">
						<div class="form-check pl-0">
							<input class="form-check-input" type="checkbox" :id="'post-pay' + pcg.id" :checked="pcg.payment === orderPaymentOnDelivery">
							<label class="form-check-label" :for="'post-pay' + pcg.id"
							       v-on:click="changeShippingAndPayment(
							       pcg,
							       pcg.payment === orderPaymentOnDelivery ? null : orderShippingMail,
							       pcg.payment === orderPaymentOnDelivery ? null : orderPaymentOnDelivery
							       )">Platba
								na dobierku</label>
						</div>
					</div>
					<div class="row px-3 pb-3">
						<div class="form-check pl-0">
							<input class="form-check-input" type="checkbox" :id="'transfer' + pcg.id" :checked="pcg.payment === orderPaymentBankTransfer">
							<label class="form-check-label" :for="'transfer' + pcg.id"
							       v-on:click="changeShippingAndPayment(
							       pcg,
							       pcg.payment === orderPaymentBankTransfer ? null : orderShippingMail,
							       pcg.payment === orderPaymentBankTransfer ? null : orderPaymentBankTransfer
							       )">Platba
								prevodom na
								účet</label>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="row p-3">
						<div class="col text-right p-0">
							<span v-if="pcg.items.length > 1">{{ starSource1 }}</span>{{ pcg.shippingPrice }} €
						</div>
					</div>
					<div class="row px-3 pb-3">
						<div class="col text-right p-0">
							<span v-if="pcg.items.length > 1">{{ starSource1 }} </span>{{ pcg.shippingPrice }} €
						</div>
					</div>
				</div>
			</div>
			<div v-if="pcg.items.length > 1" class="row">
				<div class="col">
					<p>{{ starLegend1 }}</p>
				</div>
			</div>
			<div class="row border-bottom"> </div>
			<div v-if="pcg.mixItems.length > 0" class="row">
				<div class="col-2 pt-3 h5">Osobný odber</div>
				<div class="col-6">
					<div class="row p-3">
						<div class="form-check pl-0">
							<input class="form-check-input" type="checkbox" :id="'cash' + pcg.id" :checked="pcg.payment === orderPaymentCash">
							<label class="form-check-label" :for="'cash' + pcg.id"
							       v-on:click="changeShippingAndPayment(
							       pcg,
							       pcg.payment === orderPaymentCash ? null : orderShippingInPerson,
							       pcg.payment === orderPaymentCash ? null : orderPaymentCash
							       )">Platba v
								hotovosti</label>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="row p-3">
						<div class="col text-right p-0">0.00 €</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	const ORDER_SHIPPING_IN_PERSON = 'in_person';

	const ORDER_PAYMENT_BANK_TRANSFER = 'bank_transfer';
	const ORDER_PAYMENT_CASH = 'cash';
	const ORDER_PAYMENT_ON_DELIVERY = 'on_delivery';

	export default {
		props: ['pcg', 'starSource1', 'starLegend1', 'orderShippingMail'],
		data() {
			return {
				orderShippingInPerson: ORDER_SHIPPING_IN_PERSON,
				orderPaymentBankTransfer: ORDER_PAYMENT_BANK_TRANSFER,
				orderPaymentCash: ORDER_PAYMENT_CASH,
				orderPaymentOnDelivery: ORDER_PAYMENT_ON_DELIVERY
			}
		},
		methods: {
			changeShippingAndPayment(pcg, shipping, payment) {
				console.log(shipping + ', ' + payment);
				let data = {'package_id': pcg.id, 'update_data': '{"shipping": "' +  shipping + '", "payment": "' + payment + '"}'};
				window.axios.post('/order/package/update', data)
					.then(response => {
						pcg.shipping = response.data.shipping;
						pcg.payment = response.data.payment;

					});
			},
		},
		name: "ShippingAndPayment"
	}
</script>

<style scoped>

</style>
