<template>
	<div class="col-5">
		<form v-if="user !== undefined" @submit="checkForm">
			<div class="row px-3">
				<div class="col card-light">
					<p class="text-center h4 mb-4">Kontaktné údaje</p>

					<hr>
					<p>Ak ste u nás registrovaný, <a href="">prihláste sa</a>, vaše údaje vyplníme za vás. </p>
					<hr>

					<div class="form-row mb-2">
						<div class="col">
							<!-- First name -->
							<input type="text" class="form-control" v-model.lazy="user.name" placeholder="Meno" required v-validate="'required|max:64'" name="name">
							<span class="text-danger">{{ errors.first('name') }}</span>
						</div>
						<div class="col">
							<!-- Last name -->
							<input type="text" class="form-control" v-model.lazy="user.surname" placeholder="Priezvisko" :required="isShippingMail" v-validate="'required|max:64'" name="surname">
							<span class="text-danger">{{ errors.first('surname') }}</span>
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							<!-- E-mail -->
							<input type="email" class="form-control mb-2 required" v-model.lazy="user.email" placeholder="E-mail" required v-validate="'email|required|max:64'" name="email">
							<span class="text-danger">{{ errors.first('email') }}</span>
						</div>
					</div>

					<!-- Newsletter -->
					<div class="form-row mb-2">
						<div class="col">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" v-model="newsletter" id="newsletter">
								<label class="custom-control-label" for="newsletter">chcem dostávať aktuálne ponuky</label>
							</div>
						</div>
					</div>
					<!-- Registration -->
					<div class="form-row mb-2">
						<div class="col">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" v-model="register" id="register">
								<label class="custom-control-label" for="register">chcem sa registrovať</label>
							</div>
						</div>
					</div>
				</div>
				<div v-if="isShippingMail" class="col card-light ml-3">
					<p class="text-center h4 mb-4">Adresa doručenia</p>

					<hr>
					<p>Veci pri ktorých ste si zvolili doručenie poštou, vám budú po potvrdení predávajúcim zaslané na zadanú adresu.</p>
					<hr>

					<!-- address -->
					<div class="form-row mb-2">
						<div class="col">
							<input type="text" v-model="user.street" class="form-control" placeholder="Ulica" required v-validate="'required|max:128'" name="street">
							<span class="text-danger">{{ errors.first('street') }}</span>
						</div>
					</div>
					<div class="form-row mb-2">
						<div class="col">
							<input type="text" v-model="user.street_number" class="form-control" placeholder="Číslo" required v-validate="'required|max:16'" name="street_number">
							<span class="text-danger">{{ errors.first('street_number') }}</span>
						</div>
						<div class="col">
							<input type="text" v-model="user.zip_code" class="form-control" placeholder="PSČ" required v-validate="'required|max:5|numeric'" name="zip_code">
							<span class="text-danger">{{ errors.first('zip_code') }}</span>
						</div>
					</div>
					<div class="form-row mb-2">
						<div class="col">
							<input type="text" v-model="user.city" class="form-control" placeholder="Mesto" required v-validate="'required|max:64'" name="city">
							<span class="text-danger">{{ errors.first('city') }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3 mx-0">
				<div class="col card-light p-4">
					<div class="row">
						<div class="col-4 offset-4 border-bottom mb-3 pb-3"><p class="text-center h4">Kompletná objednávka</p></div>
					</div>
					<div v-for="pcg in packages" class="row py-2 border-bottom">
						<div class="col h5">{{ pcg.name }}</div>
						<div class="col-2">spolu: <span class="float-right h5">{{ pcg.totalPrice }} €</span></div>
						<div class="col-2"></div>
						<div class="col-4">
							cena za doručenie:
							<div class="float-right h5">
								<span v-if="pcg.items.length > 1 && pcg.shipping === orderShippingMail">{{ starSource1 }}</span>
								<span>{{ pcg.shippingPrice }} €</span>
							</div>
						</div>
					</div>
					<div class="row py-2 border-bottom">
						<div class="col">
							<p class="mb-0">{{ starLegend1 }}</p>
						</div>
					</div>
					<div class="row py-2 border-bottom">
						<div class="col">
							<p class="mb-0">
								Vytvorením objednávky súhlasíte s <a href="">podmienkami používania</a>
								a pravidlami ochrany osobných údajov portálu flea.sk a obchodnými podmienkami predajcov
								<span v-for="(pcg, index) in packages">
										<a href="">{{ pcg.name }}</a>
										<span v-if="index === packages.length - 1">.</span>
										<span v-else>, </span>
									</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="submit" class="btn btn-lg btn-default font-weight-bold mx-0 mt-3" style="float: right;">
								Záväzne objednať
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>

<script>

	import validateSk from 'vee-validate/dist/locale/sk';

	function User({id, name, surname, email, street, street_number, city, zip_code}) {
		this.id = id;
		this.name = name;
		this.surname = surname;
		this.email = email;
		this.street = street;
		this.street_number = street_number;
		this.city = city;
		this.zip_code = zip_code;
	}

	export default {
		props: ['isShippingMail', 'packages', 'starSource1', 'starLegend1', 'orderShippingMail'],
		data() {
			return {
				user: undefined,
				newsletter: true,
				register: false,
			}
		},
		methods: {
			read() {
				window.axios
					.get('/user/profile/get')
					.then(response => {
						this.user = new User(response.data);
					})
			},
			checkForm: function (e) {
				e.preventDefault();
				let ids = [];
				for (let key in this.packages) {
					ids.push(this.packages[key].id);
				}
				let formData = new FormData();
				formData.append('user', JSON.stringify(this.user));
				formData.append('register', this.register);
				formData.append('newsletter', this.newsletter);
				formData.append('packages', ids.join(', '));
				window.axios
					.post('/order/create', formData)
					.then(response => {
						this.$emit('submit', response.data);
					});
			},
		},
		watch: {
			'user.zip_code': function () {
				this.user.zip_code = this.user.zip_code.replace(' ', '');
			}
		},
		created() {
			this.read();
			this.$validator.localize('sk', {
				messages: validateSk.messages,
				attributes: {
					name: 'meno',
					surname: 'priezvisko',
					city: 'mesto',
					street: 'ulica',
					street_number: 'číslo',
					zip_code: 'PSČ',
				}
			})
		},
		name: "SubmitOrderForm"
	}
</script>

<style scoped>

</style>
